<h2>Appointment Details</h2>

<ul>
  <li>Mentor name: <a href="/users/<%= @appointment.mentor.id %>"><%= @appointment.mentor.full_name %></a></li>
  <li>Start time: <%= @appointment.start_time.getlocal %></li>
  <li>End time: <%= @appointment.end_time.getlocal %></li>
</ul>

<% if @appointment.student_id == nil %>
  <p>This appointment is still available.</p>
  <% if !current_user.is_mentor %>
    <%= form_for @appointment do |f| %>
      <%= f.hidden_field :student_id, value: current_user.id %>
      <%= f.submit "Sign up!" %>
    <% end %>
  <% end %>
<% else %>
  <p>This appointment has been booked by <%= User.find(@appointment.student_id).full_name %>.</p>
  <% if @appointment.student_id == current_user.id %>
    <%= form_for @appointment do |f| %>
      <%= f.hidden_field :student_id, value: nil %>
      <%= f.submit "Disappoint", :class => 'button' %>
    <% end %>
  <% end %>
<% end %>


<% if @appointment.mentor_id == current_user.id %>
  <%= form_for @appointment do |f| %>
    <%= f.hidden_field :cancelled, value: true %>
    <%= f.submit "Disappoint", :class => 'button'%>
  <% end %>
<% end %>



