<!DOCTYPE html>
<html>
  <head>
    <title>Mentorz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  </head>

<body>
 <iframe width="0" height="0" wmode="transparent" src="//www.youtube.com/embed/5_sfnQDr1-o?autoplay=1&loop=1&playlist=5_sfnQDr1-o" frameborder="0" allowfullscreen></iframe>
 <div id = "top-layout">
   <h1><a href="/"><%= image_tag "James2.jpeg" %> Mentorz <%= image_tag "James1.jpeg" %></a></h1>
    <nav>
      <% if logged_in? %>
        <a href="/users/<%= current_user.id %>">Welcome, <%= link_to current_user.full_name, current_user %>
          |
          <% if current_user.is_mentor %>
            <%= link_to 'Create Appointment', new_appointment_path %>
          <% else %>
            <%= link_to 'View Available Appointments', appointments_path %>
          <% end %>
          |
          <%= link_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Register', new_user_path %> |
        <%= link_to "Log in", login_path %>
      <% end %>
    </nav>
  </div>
    <%= yield %>
  </body>
</html>
