<!DOCTYPE html>
<html>
  <head>
    <title>Mentorz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><a href="/">Mentorz</a></h1>
    <nav>
      <% if logged_in? %>
        <a href="/users/<%= current_user.id %>">Welcome, <%= link_to current_user.full_name, current_user %>
          |
          <% if current_user.is_mentor %>
            <%= link_to 'Create Appointment', new_appointment_path %>
          <% else %>
            <%= link_to 'View Available Appointments', appointments_path %>
          <% end %>
          |
          <%= link_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Register', new_user_path %> |
        <%= link_to "Log in", login_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
